<table class="tabela">
  <thead class="tabela_cabecalho">
    <tr>
      <td class="tabela__cabecalho__conteudo">Data</td>
      <td class="tabela__cabecalho__conteudo">Valor</td>
      <td class="tabela__cabecalho__conteudo">Destino</td>
    </tr>
  </thead>
  <tbody *ngIf="transferencias.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
      <td class="tabela_conteudo">{{transferencia.data | date:'short'}}</td>
      <td class="tabela_conteudo">{{transferencia.valor | currency}}</td>
      <td class="tabela_conteudo">{{transferencia.destino}}</td>
    </tr>
  </tbody>
</table>

<ng-template #listaVazia>
  <tbody>
    <tr class="tabela__linha">
      <td colspan="3">
        <p>Nenhuma transferência cadastrada!</p>
      </td>
    </tr>
  </tbody>
</ng-template>
