<div class="text-left mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search mr-1"></i>
        <input
            #fieldfilter
            name="filter"
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next(fieldfilter.value)">
    </form>
</div>

<app-photos [photos]="photos | filterByDescription: filter"></app-photos>

<app-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</app-load-button>